[submodule "src/apex"]
	path = src/apex
	url = https://github.com/NVIDIA/apex.git
[submodule "src/normalSpeed"]
	path = src/normalSpeed
	url = https://github.com/hfutcgncas/normalSpeed.git

[submodule "src/ClearPose"]
	path = src/ClearPose
	url = https://github.com/Domhoff859/ClearPose.git
	branch = 30bc633
	
